@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* No Tailwind 4, para usar modo classe, basta definir a variant assim: */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: #fff;
  --color-black: #000;
  --color-transparent: transparent;

  --color-rocket-purple-400: #a78bfa;
  --color-rocket-purple-500: #8257e6;
  --color-rocket-purple-600: #6b46c1;
  --color-rocket-purple-900: #581c87;

  --color-rocket-green-500: #04d361;

  --color-rocket-gray-50: #f8f8f8;
  --color-rocket-gray-100: #e1e1e6;
  --color-rocket-gray-200: #a8a8b3;
  --color-rocket-gray-300: #737380;
  --color-rocket-gray-400: #52525b;
  --color-rocket-gray-500: #414149;
  --color-rocket-gray-600: #3d3d44;
  --color-rocket-gray-700: #3a3a40;
  --color-rocket-gray-800: #29292e;
  --color-rocket-gray-850: #1f2729;
  --color-rocket-gray-900: #121214;

  --font-family-sans: 'Inter', system-ui, sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-rocket-gray-850);
  color: var(--color-white);
}

* {
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}